<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Java Wordle</title>
</head>
<body>
    <style>
        b {
            padding: 1em;
        }

        .GREEN {
            background: green;
            color: white;
        }
        .YELLOW {
           background: yellow;
        }
        .BLACK {
            background: black;
            color: white;
        }
        .error {
            color: red;
        }
        ul {
            margin-bottom: 1em;
        }
        li {
            margin: 2em 0;
        }

    </style>

    <p class="error" th:text="${errorMessage}" id="error"></p>

    <ul>
        <li th:each="entry : ${entries}">
            <b th:each="character : ${entry}"
               th:class="${character.color}"
               th:text="${character.letter}"
            >
                A
            </b>
        </li>
    </ul>

    <form action="#" method="post" id="form">
        <p>Message: <input type="text" id="guess" name="guess" /></p>
        <p><input type="submit" value="Submit"></p>
    </form>

    <script>
        const form = document.querySelector("#form");
        const guessField = document.querySelector("#guess");
        const message = document.querySelector("#error");

        form.addEventListener('submit', (e) => {
            if(guessField.value.length !== 5) {
                message.textContent = 'Must have 5 char';
                e.preventDefault();
            }
        })
    </script>
</body>
</html>